<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block page_title %}{% endblock page_title %} | MHub Blog</title>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<div class="container body">
			<div class="row">
				<div class="col-xs-6 col-xs-push-3">
					{% block main_content %}{% endblock main_content %}
				</div>
			</div>
		</div>

		<script src="{% static 'js/jQuery-2.1.4.min.js' %}"></script>
	</body>
</html>